<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="testGraphAnalysis.Properties.Settings.test_AnalysisGraphingConnectionString"
            connectionString="Data Source=US1176971W2\SQLEXPRESS;Initial Catalog=test_AnalysisGraphing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>